body {
background-color: rgb(255,255,255);
font-family: 'Europa-Bold';
background-image: url(../images/ice.jpg);

}
h1{display: flex;
content: center;
align-items: center;
font-family: 'Futura';
padding: 3em;

}
.header-content-block {
  font-family: 'Futura';
  padding: 10em;
text-align: center


}
header{
background-image: url(../images/skeggs2.jpg);
min-height: 60vh;
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
background-attachment: fixed;
}
h2{ padding: 3em;

}

#bio p {
text-align: center;
margin-left: 20em;
margin-right: 20em;
padding: 1em;

}
#bio h1 { color: rgb(0,0,0);
margin-left: 14em;

}
.bio-content-block{
  background-color:rgb(255,243,213);

    justify-content:space-around;
}
#Compétences h1{color: rgb(0,0,0);
margin-left: 7em;

}
.comp-section-content {
  display:flex;
  justify-content:space-around;
  margin-left: 20em;
  margin-right: 20em;
}
.comp-content {
  margin: 80px;
  width: auto;
  background-color: inherit;
    background-color:rgb(255,243,213);

}
.comp-content p {
  text-align: center;
  margin-bottom: 11em;
  margin-left: 3em;
  margin-right: 3em;
}

}
.comp-content a{
  display:block;
  paddind: 1em;
  float: right;
}

#portfolio{
  background-color: rgb(255,255,255);
}
.portfolio-content {
  display:flex;
  justify-content:space-around;
}
.portfolio-content-item{margin: 80px;
width: auto;
background-color: inherit;
}
.portfolio-content-item{
  display:block;
  paddind: 1em;
  float: right;
}




a{
  text-decoration: none;
  font-size: 1,17em;
  background-color: rgb(255, 0, 0);
  color: rgb(253,208, 65);

display: block;
text-align: center;
border: 6px solid rgb(0,0,255);
border-radius: 1em;
box-shadow: 14px 11px 51px 0px rgba(0,0,0,0.75);
transition: all 0,75s ease;
}
.address {
  margin: 80px;
  width: auto;
  background-color: inherit;
  }
